.paginacion{
    display: flex;
    justify-content: space-between;
    margin-top: $separacion;
    padding: $separacion 0;
    button{
        background-color: $azul;
        padding:.4rem 2rem;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: $blanco;
        border:none;
        font-weight: $bold;
        font-size: 2rem;
        &.ocultar{
           visibility: hidden;
        }
        &:hover{
            cursor:pointer;
        }
    }
}